@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<br /><br />
<h3>Servicio para reducir enlaces</h3>
<br /><br />
<form id="ShortenForm" method="POST" name="ShortenLink">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-9">
            <input asp-for="ShortenLink.LongLink" placeholder="Ingrese su enlace" class="col-md-12" />
        </div>
        <div class="col-md-3">
            <input id="btnshorten" class="" type="submit" value="Reducir !!!">
        </div>
    </div>
</form>
<br /><br />
<h4>@Model.Message</h4>
<a asp-page="./SL" asp-route-id="@Model.Sid">@Model.Slink</a>
